<section class="footer-container">
  <span class="footer-item">
    <a mat-button [color]="'accent'" href="https://codingbychad.com">Coding By Chad</a></span>
  <span class="footer-item">
    &copy; {{ copyright }} All rights reserved.
  </span>
  <span class="footer-item">
    <a mat-button [color]="'primary'" href="https://github.com/chadesmith42">
      <mat-icon fontIcon="code"></mat-icon>
      <span>GitHub</span>
    </a>
  </span>
  <span class="footer-item">
    <a mat-button [color]="'primary'" href="https://www.linkedin.com/in/chadesmith">
      <mat-icon fontIcon="work"></mat-icon>
      <span>LinkedIn</span>
    </a>
  </span>
</section>
